*{
    margin: 0;
    padding: 0;
}

html,body{
    width: 100%;
    height: 100%;
}

.navi{
    margin: 23px;
}

.flex{
    display: flex;
    align-items: center;
}

.left ul{
    padding: 0 60px;
}

.left img{
    height: 45px;
}

.leftitem{
    list-style: none;
    margin: 0 15px;
}