@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}

html,body{
    width: 100%;
    height: 100%;
}

header{
    position: sticky;
    top: 0;
    background-color: white;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

@media (max-width: 1300px){
    nav{
        flex-direction: column;
        align-items: center;
    }
    header{

    }
    
}

.navi{
    font-size: small;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    justify-content: space-around;
}

.left ul{
    padding-left: 38px;
}

.left img{
    height: 45px;
    /* margin: 0 40px; */
}

.leftitem{
    list-style: none;
    margin: 0 15px;
}

.container{
    padding: 0 14vh;
}

.section1{
    background-color: #f2f2f2;
}

.homeimg{
    width: 85vw;
    padding: 5px 0;
    cursor: pointer;
}

.itemimg{
    width: 16.45vw;
    margin-bottom: 7px;
    cursor: pointer;
}

footer{
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}